<ion-header>
  <ion-toolbar style="--background:#C42928; --color:#FDFFF0">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title text-center>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div style="display: flex; justify-content: center;">
    <div *ngIf="profilePic" (click)="updatepic()">
      <img alt="avatar" class="rounds" src="https://ucarecdn.com/{{ profilePic }}/" width="150" height="150">
    </div>

    <div *ngIf="!profilePic" (click)="updatepic()">
      <img alt="avatar" class="rounds" src="./../../../assets/profilePic_Default.png" width="150" height="150">
    </div>

  </div>

  <div class="profile-info" *ngIf="nama">
    <ion-list>
      <ion-item>
        <ion-label>Nama</ion-label>
        <p>{{ nama }}</p>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <p>{{ email }}</p>
      </ion-item>
      <ion-item>
        <ion-label>No Handphone</ion-label>
        <p>{{ no_hp }}</p>
      </ion-item>
      <ion-item>
        <ion-label>Alamat</ion-label>
        <p>{{ alamat }}</p>
      </ion-item>
    </ion-list>
  </div>

  <ion-list>
    <ion-list-header>
      Statistics
    </ion-list-header>
    <ion-item>
      Event Done
      <ion-note slot="end">
        {{done}}
      </ion-note>
    </ion-item>
    <ion-item>
      Total event
      <ion-note slot="end">
        {{total}}
      </ion-note>
    </ion-item>
  </ion-list>




  <ion-button color="primary" expand="block" shape="round" (click)=gotoedit()>Edit Profile</ion-button>
  <br />
  <ion-button color="danger" expand="bloc
  k" shape="round" (click)=signout() >Sign Out</ion-button>
</ion-content>