<ion-header>
	<ion-toolbar style="--background:#C42928; --color:#FDFFF0">
		<ion-buttons slot="start">
		</ion-buttons>
		<ion-title text-center>
			Yuk Sehat
		</ion-title>

		<ion-icon slot="end" size="large" name="search" button (click)="gosearch()"></ion-icon>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<ion-fab *ngIf="afAuth.auth.currentUser" vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button style="--background:#C42928" (click)="gotoCreateEvent()">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>

</ion-content>