<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
		</ion-buttons>
		<ion-title text-center>
			Yuk Sehat
		</ion-title>

		<ion-icon slot="end" size="large" name="search" button (click)="gosearch()"></ion-icon>
	</ion-toolbar>
</ion-header>

<ion-content padding>

	<div id="register">
		<ion-button expand="block" fill="solid" shape="round" (click)="gotoregister()">Register</ion-button>
	</div>

	<div id="login">
		<ion-button expand="block" fill="solid" shape="round" (click)="gotologin()">Login</ion-button>
	</div>

</ion-content>