<ion-header>
	<ion-toolbar style="--background:#C42928; --color:#FDFFF0">
		<ion-buttons slot="start">
		</ion-buttons>
		<ion-title text-center>
			Yuk Sehat
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content padding>
	<ion-card *ngFor="let item of items | async" (click)="gotoEvent(item)">
			<img src="https://ucarecdn.com/{{ item.poster }}/">
		<ion-card-content>
			<ion-card-title>{{item.namaEvent}}</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-fab *ngIf="afAuth.auth.currentUser" vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button style="--background:#C42928" (click)="gotoCreateEvent()">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>

</ion-content>