<ion-content padding>

  <div id="container">
    <div>
      <ion-label slot="start">Nama</ion-label>
      <ion-item>
        <ion-input type="text" placeholder="Nama"></ion-input>
      </ion-item>
      <br>

      <ion-label slot="start">Jenis Kelamin</ion-label>
      <ion-list>
        <ion-radio-group>
          <ion-item>
            <ion-radio value="Laki laki"></ion-radio>
            <ion-label>Laki laki</ion-label>
          </ion-item>
          <ion-item>
            <ion-radio value="Perempuan"></ion-radio>
            <ion-label>Perempuan</ion-label>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <br>

      <ion-label slot="start">Alamat</ion-label>
      <ion-item>
        <ion-textarea placeholder="Masukan alamat mu di sini"></ion-textarea>
      </ion-item>
      <br>

      <ion-label slot="start">No Handphone</ion-label>
      <ion-item>
        <ion-input type="number" placeholder="No Handphone"></ion-input>
      </ion-item>
      <br>

      <ion-label slot="start">Email</ion-label>
      <ion-item>
        <ion-input type="text" placeholder="Email"></ion-input>
      </ion-item>
      <br>

      <ion-label slot="start">Password</ion-label>
      <ion-item>
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
      <br>
    </div>


    <div id="register">
      <ion-button expand="block" fill="solid" shape="round" (click)="gologin()">Register</ion-button>
    </div>

  </div>
</ion-content>