<ion-content padding>

  <div id="container">
    <div>
      <ion-label slot="start">Nama</ion-label>
      <ion-item>
        <ion-input type="text" placeholder="Nama"></ion-input>
      </ion-item>
      <br>

      <ion-label slot="start">Email</ion-label>
      <ion-item>
        <ion-input type="text" placeholder="Email"></ion-input>
      </ion-item>
      <br>

      <ion-label slot="start">Password</ion-label>
      <ion-item>
        <ion-input type="password" placeholder="Password"></ion-input>
      </ion-item>
      <br>
      
      <ion-label slot="start">Confirm Password</ion-label>
      <ion-item>
          <ion-input type="password" placeholder=" Confirm Password"></ion-input>
      </ion-item>



      
    </div>


    <div id="register">
      <ion-button expand="block" fill="solid" shape="round" (click)="gologin()">Register</ion-button>
    </div>

  </div>
</ion-content>